@model TheStore.Web.Domain.ShoppingCart

@if (Model.GetTotalQuantity() > 0)
{
    <a href="@Url.Action("ShowCart", "ShoppingCart", new { returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery })" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-shopping-cart"></span> @Model.GetTotalQuantity() товаров</a>
}
else
{
    <a href="#" class="btn btn-success btn-sm disabled"><span class="glyphicon glyphicon-shopping-cart"></span> Корзина пуста</a>
}