@{
    ViewBag.Title = "Контакты";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12" style="margin-top: 20px;">
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=f51LrT9QMSuIyduXK5Y9VvNHKB7By0A7&width=1170&height=450"></script>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4 text-right">
            <h2>CHUVI</h2>
            <hr />
            <address>
                <strong>Детский интернет-магазин</strong><br />
                г. Киев, ул. Зои Гайдай 9а
                <br />
                <br />
                <abbr title="Phone"><strong>Телефон:</strong></abbr> 095 618 2047<br />
                <abbr title="Phone"><strong>:</strong></abbr> 095 618 2048
            </address>
        </div>
    </div>
</div>