@{
    ViewBag.Title = "Купить игрушки Киев. Детские игрушки купить в интернет-магазине в Киеве и в Украине";
}

<div class="row">
    <div class="container">
        @Html.Action("CategoryWidget", "Category")
    </div>
</div>