@{
    ViewBag.Title = "Гарантия";
}

<h2>Да, вы можете обменять или вернуть товар в течение 14 дней после покупки!</h2>
<hr />
<div class="row">
    <div class="col-lg-6">
        <h4>
            Это право гарантирует вам «Закон о защите прав потребителя».
        </h4>
        <p>
            Чтобы использовать эту возможность, пожалуйста убедитесь что:
        </p>
        <ul>
            <li>
                товар, не был в употреблении и не имеет следов использования: царапин, сколов, потёртостей, на счётчике телефона не более 5 минут разговоров, программное обеспечение не подвергалось изменениям и т. п.;
            </li>
            <li>
                товар полностью укомплектован и не нарушена целостность упаковки;
            </li>
            <li>
                сохранены все ярлыки и заводская маркировка.
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
        <h3>
            Где и как произвести обмен или возврат товара?
        </h3>
        <p>
            Обменять или вернуть товар можно связавшись с нашим менеджером по телефону:
        </p>
        <h3><small>(095)</small> 618 20 47</h3>
        <p>
            При возврате товара нужно иметь при себе паспорт. Мы вернем деньги в день возврата товара или, в случае отсутствия денег в кассе, не позже, чем через 7 дней.
        </p>
        <p>
            Если вы живете не в Киеве, можете отправить товар обратно с помощью "Новой Почты", "Автолюкса", "Ночного Экспресса" или "Почтово Грузового Курьера".
            Если у товара сохранён товарный вид и упаковка, мы обменяем его вам или вернём деньги.
        </p>
        <p>
            Обмен и возврат товаров надлежащего качества осуществляется за счет покупателя в течении 14 дней со дня продажи при условии сохранении товарного вида, упаковки, и наличии документов, подтверждающих факт покупки.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3>Гарантийные обязательства не распространяются на следующие неисправности:</h3>
        <ul>
            <li>
                случайные повреждения, причиненные клиентом или повреждения, возникшие вследствие небрежного отношения или использования (воздействие жидкости, запыленности, попадание внутрь корпуса посторонних предметов и т. п.);
            </li>
            <li>
                повреждения в результате стихийных бедствий (природных явлений);
            </li>
            <li>
                повреждения, вызванные аварийным повышением или понижением напряжения в электросети или неправильным подключением к электросети;
            </li>
            <li>
                повреждения, вызванные дефектами системы, в которой использовался данный товар, или возникшие в результате соединения и подключения товара к другим изделиям;
            </li>
            <li>
                повреждения, вызванные использованием товара не по назначению или с нарушением правил эксплуатаций;
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
        <h3>Пожалуйста, обратите внимание:</h3>
        <p>
            Согласно статьи 9 Закона Украины «О защите прав потребителей».
            Кабинетом Министров Украины утвержден перечень товаров надлежащего качества, которые не подлежат обмену или возврату.
        </p>
        <p>
            К таким товарам относятся:
        </p>
        <ul>
            <li>
                Детские игрушки мягкие.
            </li>
            <li>
                Детские игрушки резиновые надувные.
            </li>
            <li>
                Товары для новорожденных (пеленки, соски, бутылочки для кормления т. д.).
            </li>
        </ul>
    </div>
</div>